extends base

block title
  | About

block route
  style
    a[href="about.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns
    h2.half-bottom(style="margin-top: 60px; ") About HWorks

  .eight.columns.tile
    img(src="hworks-screenshot.png", width=150, height=123,  alt="")
    h3 HWorks
    p
      | The HWorks website itself (what you're looking at right now) is completely
      | open-source and available for others to contribute to. Pull
      | requests welcome!
    iframe(src="http://ghbtns.com/github-btn.html?user=aroman&repo=hworks.org&type=fork&size=large",
      allowtransparency="true", frameborder="0", scrolling="0", 
      width="170", height="30", style="margin-left:85px;")