extends base

block title
  | About

block route
  style
    a[href="about.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center.add-bottom
    h1.half-bottom(style="margin-top: 60px") About HWorks

  .sixteen.columns(style="font-size:18px; line-height:1.5")
    h3 Mission Statement
    p
      | HWorks is an initiative to encourage the building and promotion of digital
      | tools to help modern students stay organized and excel in school.
    h3 Who's behind all this?
    p
      strong
        | The HWorks initiative was started in Janurary 2013
        | by Pennsylvania high school student and software developer Avi Romanoff. 
      | Before launching HWorks, he was an active core contributor and council
      | member of 
      a(href="http://elementaryos.org/") elementary
      | , an open-source project which is building a next-generation
      | open desktop platform with a focus on user experience and design. He also
      | created and maintains 
      a(href="http://keeba.jbha.org") Keeba
      | , the first project to be part of the HWorks Initiative, and the impetus
      | for the creation of HWorks itself.
    h3 This Website
    p
      | The HWorks website itself (what you're looking at right now) is completely
      | open-source and available for others to contribute to. Pull
      | requests and bug reports are welcome at the project's 
      a(href="http://github.com/aroman/hworks.org") official GitHub page
      | .
    h3 Contact
    p
      | You can get in touch with us via email at 
      a(href="mailto:howdy@hworks.org") howdy@hworks.org
      | , or by joining and/or posting to the official Google Group
      | (mailing list) 
      a(href="https://groups.google.com/forum/?fromgroups=#!forum/hworks-collab") here
      | . We also hold monthly Skype meetings the first Saturday of every month. Watch
      | the Google Group for details!