!!! 5

//if lt IE 7
  html.ie.ie6
//if IE 7
  html.ie.ie7
//if IE 8
  html.ie.ie8
//if (gte IE 9)|!(IE)]
  html

html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description", content="Let's make homework work for us.")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    title
      block title
        | HWorks

    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(rel='stylesheet', type="text/css", href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700')
    link(rel="stylesheet", href="styles/base.css")
    link(rel="stylesheet", href="styles/skeleton.css")
    link(rel="stylesheet", href="styles/layout.css")
    link(rel="stylesheet", href="styles/app.css")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    block route

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37834419-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
  body
    section#navbar.center
      ul
        li#navbar-brand
          h4
            a(href="index.html") HWorks
        li
          h4
            a(href="vision.html") Vision
        li
          h4
            a(href="get-involved.html") Get Involved
        li
          h4
            a(href="solutions.html") Solutions
        li#navbar-about
          h4
            a(href="about.html") About
    .container
      block content

      include footer