extends base

block title
  | Code

block route
  style
    a[href="code.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") Sharing ideas, sharing code.
    h3.add-bottom HWorks loves open-source code.

  .eight.columns.tile
    img(src="keeba-screenshot.png", width=150, height=123, alt="")
    h3 Keeba
    p
      | Skeleton is not a UI framework. It's a development kit that provides
      | the most basic styles as a foundation, but is ready to adopt whatever
      | your design or style.

  .eight.columns.tile
    img(src="hworks-screenshot.png", width=150, height=123,  alt="")
    h3 HWorks
    p
      | Skeleton is not a UI framework. It's a development kit that provides
      | the most basic styles as a foundation, but is ready to adopt whatever
      | your design or style.