#footer.sixteen.columns.center
  p

    | Icons from 
    a(href="http://thenounproject.com/") The Noun Project
    | , including 
    a(href="http://thenounproject.com/garrettnelson") Garrett Nelson
    | .
    br
    | &copy; The H-Works Collaborative. 