extends base

block title
  | Get Involved

block route
  style
    a[href="get_involved.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") We need your help.
    h3.add-bottom There's lots ways to get involved.

  .eight.columns.tile
    img(src="conversation.svg", alt="")
    h3 Join the discussion.
    p
      | There are lots of aspects to improving the homework
      | experience for today's modern leaners. Share your thoughts
      | on our 
      a(href="#") Google Group,
      |  follow the 
      a(href="#") GitHub organization,  
      | or join up for one of our monthly 
      a(href="#") Skype meetings
      | .

  .eight.columns.tile
    img(src="code.svg", alt="")
    h3 Build something!
    p
      | Build something that helps the students of the digital age 
      | deal with their homework. Then make sure 
      a(href="mailto:howdy@hworks.org") Tell us
      |  what you've built 
      | and we'll feature it on HWorks.