extends base

block route
  style
    a[href="get_involved.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") Homework is broken.
    h3.add-bottom Think you can help?

    img.no-bottom(src="logo-medium.png", alt="H-Works Logo")
    h1 Join the collective!

  .eight.columns.tile
    img(src="education.svg", alt="")
    h3 Education
    p
      | Skeleton is not a UI framework. It's a development kit that provides
      | the most basic styles as a foundation, but is ready to adopt whatever
      | your design or style.

  .eight.columns.tile
    img(src="code.svg", alt="")
    h3 Code
    p
      | Skeleton is not a UI framework. It's a development kit that provides
      | the most basic styles as a foundation, but is ready to adopt whatever
      | your design or style.