extends base

block title
  | Icon credits

block content
  .sixteen.columns.center.add-bottom
    h1.half-bottom(style="margin-top: 60px") Credit where credit is due
    h3 Thanks to these great designers for their icons.

  .sixteen.columns.project-spread
    .title-line.half-bottom
      h5
        a(href="http://thenounproject.com/noun/light-bulb/#icon-No7582") Light Bulb
        |  designed by 
        a(href="http://thenounproject.com/Shane_kenna") Shane David Kenna
        |  from The Noun Project
  .sixteen.columns.project-spread
    .title-line.half-bottom
      h5
        a(href="http://thenounproject.com/noun/checklist/#icon-No5166") Checklist
        |  designed by 
        a(href="http://thenounproject.com/AaronDodson") Aaron Dodson
        |  from The Noun Project
  .sixteen.columns.project-spread
    .title-line.half-bottom
      h5
        a(href="http://thenounproject.com/noun/marriage/#icon-No4940") Marriage
        |  designed by 
        a(href="http://thenounproject.com/plutomium") Thomas Hirter
        |  from The Noun Project
  .sixteen.columns.project-spread
    .title-line.half-bottom
      h5
        a(href="http://thenounproject.com/noun/conversation/#icon-No6580") Conversation
        |  designed by 
        a(href="http://thenounproject.com/merdesign") Monika Ciapala
        |  from The Noun Project
  .sixteen.columns.project-spread
    .title-line.half-bottom
      h5
        a(href="http://thenounproject.com/noun/document/#icon-No6120") Document
        |  designed by 
        a(href="http://thenounproject.com/tlb") Thomas Le Bas
        |  from The Noun Project
  .sixteen.columns.project-spread
    .title-line.half-bottom
      h5
        a(href="http://thenounproject.com/noun/coordination/#icon-No4222") Coordination
        |  designed by 
        a(href="http://thenounproject.com/ochaavmu") United Nations OCHA
        |  from The Noun Project
