extends base

block title
  | Ideas

block route
  style
    a[href="ideas.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") Homework &ne; Headache
    h3.double-bottom These are core values necessary for digital homework management:

  .row

    .eight.columns.tile
      img(src="coordination.svg", alt="")
      h3 One source of truth
      p
        | Homework comes from all directions: orally in class, course wikis, 
        | and hand-outs. A digital approach
        | to homework management should minimize redundancy and conflict.

    .eight.columns.tile
      img(src="marriage.svg", alt="")
      h3 Seamlessly integrated
      p
        | Teachers should be able to assign homework using their existing systems. 
        | The underlying digital homework management infrastructure should be the
        | bridge between clunky school software, and the student's individualized 
        | homework portal.

  .row

    .eight.columns.tile
      img(src="sort.svg", alt="")
      h3 Naturally prioritized
      p
        | Students' real-life schedules are never as simple as they expect
        | them to be. Homework management should build schedules
        | that promote effective use of time.

    .eight.columns.tile
      img(src="document.svg", alt="")
      h3 Intuitive &amp; streamlined
      p
        | Use of digital tools shouldn't require a manual or a complicated
        | tutorial. The digital process should be as simple as pencil and
        | paper.