extends base

block title
  | Ideas

block route
  style
    a[href="ideas.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") Homework &ne; Headache
    h3.add-bottom Here are core values necessary for digital homework management:

  .row

    .eight.columns.tile
      img(src="coordination.svg", alt="")
      h3 One source of truth
      p
        | Homework comes at kids from all directions. Orally in class, class wikis, 
        | and as class hand-outs. Any digital approach
        | to homework management should minimize redundancy and conflict.

    .eight.columns.tile
      img(src="marriage.svg", alt="")
      h3 Seamlessly integrated
      p
        | Homework should work with the teachers and school assigning it -- not
        | against them. Minimize re-training costs by plugging into existing systems
        | and routines where possible and practical.

  .row

    .eight.columns.tile
      img(src="sort.svg", alt="")
      h3 Naturally prioritized
      p
        | Real-life schedules are never as simplistic as we expect
        | them to be.
        br
        br
        | Homework management should focus on building schedules that promote
        | effective time management, while still following deadlines.

    .eight.columns.tile
      img(src="document.svg", alt="")
      h3 Intuitive &amp; streamlined
      p
        | Managing your academic life using digital tools shouldn't
        | require a manual or a tutorial.
        br
        br
        | Aim to be as simple as
        | a pencil and paper to-do list.