extends base

block title
  | Ideas

block route
  style
    a[href="ideas.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") Here's some ideas:
    h3.add-bottom Think you can help?

  .eight.columns.tile
    img(src="education.svg", alt="")
    h3 Education
    p
      | Skeleton is not a UI framework. It's a development kit that provides
      | the most basic styles as a foundation, but is ready to adopt whatever
      | your design or style.

  .eight.columns.tile
    img(src="code.svg", alt="")
    h3 Code
    p
      | Skeleton is not a UI framework. It's a development kit that provides
      | the most basic styles as a foundation, but is ready to adopt whatever
      | your design or style.