extends base

block route
  style
    a[href="index.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center.add-bottom
    h1.half-bottom(style="margin-top: 60px") Homework is broken.
    h3.add-bottom Think you can help?

    img.half-bottom(src="logo-medium.png", alt="H-Works Logo")
    h3.add-bottom Let's make homework better for everyone.

    .row
      .seven.columns.tile
        img(src="hand-raise.svg", alt="")
        h4 "Uh, what is this?"

      .eight.columns
        p(style="text-align: left; padding-top: 50px; font-size: 16px")
          | Skeleton is not a UI framework. It's a development kit that provides
          | the most basic styles as a foundation, but is ready to adopt whatever
          | your design or style.

  //- .eight.columns.tile
  //-   img(src="education.svg", alt="")
  //-   h3 Education
  //-   p
  //-     | Skeleton is not a UI framework. It's a development kit that provides
  //-     | the most basic styles as a foundation, but is ready to adopt whatever
  //-     | your design or style.

  //- .eight.columns.tile
  //-   img(src="code.svg", alt="")
  //-   h3 Code
  //-   p
  //-     | Skeleton is not a UI framework. It's a development kit that provides
  //-     | the most basic styles as a foundation, but is ready to adopt whatever
  //-     | your design or style.