!!! 5

//if lt IE 7
  html.ie.ie6
//if IE 7
  html.ie.ie7
//if IE 8
  html.ie.ie8
//if (gte IE 9)|!(IE)]
  html

head
  meta(charset="utf-8")
  title H-Works
  meta(name="description", content="Let's make homework work for us.")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

  link(rel='stylesheet', type="text/css", href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700')

  link(rel="stylesheet", href="styles/base.css")
  link(rel="stylesheet", href="styles/skeleton.css")
  link(rel="stylesheet", href="styles/layout.css")
  link(rel="stylesheet", href="styles/app.css")

  link(rel="icon", type="image/x-icon", href="favicon.ico")

  //if lt IE 9
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body
    section#header.center
      ul
        li
          h4
            a(href="/join") Join
        li
          h4
            a(href="/ideas") Ideas
        li
          h4
            a(href="/code") Code
    .container
      .sixteen.columns.center
        h1.half-bottom(style="margin-top: 60px") Homework is broken.
        h3.add-bottom Think you can help?

        img.no-bottom(src="logo-medium.png", alt="H-Works Logo")
        h1 H-Works

      include footer