extends base

block route
  style
    a[href="index.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center.add-bottom
    h1.half-bottom(style="margin-top: 60px") Homework is broken.

    .sixteen.columns.center
      p.mission-statement
        | In the 21st century, 
        strong digital distractions 
        |run rampant in the lives
        | of students and professionals alike. 
        br.magic
        strong Time management 
        | is more important than
        | ever before.
        br
        | It's time we started building 
        strong digital tools 
        | for the modern student.

    h3.add-bottom Let's make homework better for everyone.
    img.add-bottom(src="logo-smaller.png", width=225, height=203, alt="H-Works Logo")

    h2.add-bottom.call-to-action
      a(href="get-involved.html") Get involved &raquo;

    .row