extends base

block title
  | Projects

block route
  style
    a[href="projects.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center
    h1.half-bottom(style="margin-top: 60px") Sharing ideas &amp; sharing code
    h3.add-bottom HWorks loves open-source code.

  .row

    .eight.columns.tile
      img(src="keeba-screenshot.png", width=150, height=123, alt="")
      h3 Keeba
      p
        | Started as the personal project of a high-school sophomore, Keeba grew to be a fully-featured
        | homework management webapp that was sponsored and adopted by his school.
      div(style="margin-top:-15px")
        h4
          a(href="http://keeba.jbha.org") Visit
          |
          a(href="http://github.com") GitHub

    .eight.columns.tile
      img(src="hworks-screenshot.png", width=150, height=123,  alt="")
      h3 HWorks
      p
        | The HWorks website itself (what you're looking at right now) is completely
        | open-source and available for others to contribute to. Pull
        | requests welcome!
      iframe(src="http://ghbtns.com/github-btn.html?user=aroman&repo=hworks.org&type=fork&size=large",
        allowtransparency="true", frameborder="0", scrolling="0", 
        width="170", height="30", style="margin-left:85px;")


  .row
    .eight.columns.tile
      img(src="add.svg", alt="")
      h3 Your project here!
      p
        | Built a tool that helps kids with their homework? Share it! 
        a(href="mailto:howdy@hworks.org") Tell us
        |  what you've built 
        | and we'll feature it up here. Good ideas love company.