extends base

block title
  | Solutions

block route
  style
    a[href="solutions.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center.add-bottom
    h1.half-bottom(style="margin-top: 60px") Sharing ideas &amp; sharing code
    h3 Open-source or not, we'd love to see what you've got!

  .sixteen.columns.tile(style="margin-bottom:-10px")
    img(src="add.svg", alt="", width=80, height=80)
    h3 Your project here!
    p(style="font-size: 17px")
      | Built a tool that helps with their homework? Share it! 
      a(href="mailto:howdy@hworks.org") Tell us
      |  what you've built 
      | and we'll feature it up here. Good ideas love company.

  .sixteen.columns.project-spread
    .title-line.half-bottom
      h3(style="display:inline") Keeba
      h4
        a(href="http://keeba.jbha.org") keeba.jbha.org
    p
      | Started as the personal project of a high-school sophomore, Keeba grew to be a fully-featured
      | homework management webapp that was sponsored and adopted by his school.
    img(src="keeba-screenshot.png", width=150, height=123, alt="").half-bottom
    h4
      em Testimonials, expanded info, and screenshots go here.
    br
    div(style="margin-top:-15px")
      h4
        a(href="http://github.com") GitHub