extends base

block title
  | Solutions

block route
  style
    a[href="solutions.html"] {
      text-decoration: overline !important;
    }

block content
  .sixteen.columns.center.add-bottom
    h1.half-bottom(style="margin-top: 60px") Sharing ideas &amp; sharing code
    h4 Everyone benefits when we pool our ideas and solutions &mdash; open-source or not.

  .sixteen.columns.project-spread
    .title-line.half-bottom
      h3(style="display:inline") Keeba
      h4
        a(href="http://keeba.jbha.org", target="_blank") Visit
        |  | 
        a(href="http://github.com/aroman/keeba", target="_blank") GitHub

    p
      | Started as the personal project of a high-school sophomore, Keeba has grown to become
      | a fully-featured homework management web app that has been adopted and sponsored by his school.
      br
      br
      | By integrating with 
      | the school's existing homework portal (through a web-scraping backend), Keeba enables students
      | to interact with their homework directly. Rather than a simple listing of teacher bulletins, 
      | students can mark assignments as done, move around personal due dates to suit their schedule,
      | and track their own courses and tasks which are not part of the school's official website.
      | This functionality is exposed through an intuitive, modern and stream-lined interface using
      | modern web technology to keep students in-sync and on top of their work wherever they are.
    img(src="keeba-screenshot.png", alt="keeba-screenshot").half-bottom
    h4 Testimonials
    blockquote
      p
        | "Keeba is great. I absolutely love it. So much simpler and easier to use than the school's
        | homework website. I love how I can create my own assignments when teachers neglect to use 
        | the website."
      small &mdash; Barrack Academy 11th grader
    blockquote
      p
        | "THIS WEBSITE IS AWESOME!!! I JUST MADE AN ACCOUNT AND I CAN'T WAIT TO USE IT NEXT YEAR!!! 
        | THANK YOU SO MUCH!!! THE PLANNER THEY GIVE CAN NOT EVEN COMPARE TO THIS AWESOME WEBSITE!!!!"
      small &mdash; Barrack Academy 6th grader (emphasis his)
    hr(style="margin-top:-15px")

  .sixteen.columns.project-spread
    .title-line.half-bottom
      h3(style="display:inline") iDMS
      h4
        a(href="http://idms.mihirgarimella.com", target="_blank") Visit
        |  | 
        em(style="color:#333") Closed-source

    p
      | Created by an eighth-grade student and now used by over half of his school,
      | iDMS is the ultimate mobile student planner.
      br
      br
      | iDMS syncs with the official school calendar, showing students the events for the current
      | day as well as those for the upcoming week, and includes the five school bell schedules, 
      | so students can quickly check the class timings for the day. It also allows students to keep
      | track of their assignments and homework, making it simple for them to add and manage tasks, 
      | and features dynamic hall passes, which change color to indicate how much time a student has used.
      | Students can also use iDMS to check their grades and obtain class materials.
    .center
      img(style="max-width:512px; box-shadow:0px 0px 40px", src="idms-screenshot.png", alt="idms-screenshot").half-bottom
    h4 Testimonials
    blockquote
      p
        | "iDMS makes things much easier for me... I always know what day it is, and I don't have 
        | to worry if I loose my agenda."
      small &mdash; Anonymous student
    blockquote
      p
        | "This is a great app especially for organizing and prioritizing. :) thanks"
      small &mdash; Dorseyville Middle School 7th grader
    hr

  .sixteen.columns.tile
    h2 Your project here!
    img(src="lightbulb.svg", alt="", width=100, height=100)
    p(style="font-size: 22px; line-height: 1.5")
      | Built something that helps students stay sane? Share it! 
      a(href="mailto:howdy@hworks.org") Tell us
      |  what you've built 
      | and we'll feature it up here.
      br
      strong Good ideas love company.