body {
  background-image: url("pattern.png");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
}
h1 {
  font-weight: none;
}
.tile {
  text-align: center;
}
.tile p {
  font-size: 15px;
  max-width: 60%;
  margin-left: 20%;
}
@media only screen and (max-width: 767px) {
  .tile p {
    max-width: 94%;
    margin-left: 3%;
  }
}
.center {
  text-align: center;
}
.mission-statement {
  padding-top: 20px;
  line-height: 150%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}
@media only screen and (min-width: 960px) {
  .mission-statement br.magic {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .mission-statement {
    margin-left: -10%;
    margin-right: -10%;
  }
}
h2.call-to-action > a {
  color: #3771c8;
  text-decoration: none;
}
h2.call-to-action > a:hover {
  color: #214478;
  text-decoration: underline;
}
.project-spread {
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-spread .title-line > h4 {
  display: inline;
  margin-left: 10px;
}
.project-spread p {
  font-size: 16px;
}
#navbar {
  background: black;
  height: 40px;
  min-height: 40px;
  color: white;
  border-bottom: solid 3px #3771c8;
  padding: 10px 0px 0px 5px;
  margin-bottom: -5px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 20px #3771c8;
}
#navbar a {
  color: white;
  text-decoration: none;
}
@media only screen (min-width: 480px) {
  #navbar a {
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
#navbar a:hover {
  color: #3771c8;
}
#navbar ul,
#navbar li {
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  #navbar ul li:nth-child(2) {
    margin-left: 0px;
  }
  #navbar ul li {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 360px) {
  #navbar ul li h4 {
    font-size: 17px;
  }
}
#navbar li {
  margin-left: 20px;
}
#navbar-brand {
  position: absolute;
  top: 10px;
  left: 15px;
  margin-left: 0px !important;
}
@media only screen and (max-width: 480px) {
  #navbar-brand {
    display: none !important;
  }
}
#navbar-about {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media only screen and (max-width: 480px) {
  #navbar-about {
    position: relative;
    top: auto;
    right: auto;
  }
}
#footer {
  margin-top: 50px;
}
