body {
  background-image: url("pattern.png");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: bold;
}
#navbar {
  background: black;
  height: 40px;
  min-height: 40px;
  color: white;
  border-bottom: solid 3px #3771c8;
  padding: 10px 0px 0px 5px;
  margin-bottom: -5px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.8);
}
#navbar a {
  color: white;
  text-decoration: none;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#navbar a:hover {
  color: #3771c8;
}
#navbar ul,
#navbar li {
  display: inline-block;
}
#navbar li {
  margin-left: 20px;
}
#footer {
  margin-top: 50px;
}
#navbar-brand {
  position: absolute;
  top: 10px;
  left: 10px;
}
@media only screen and (max-width: 480px) {
  #navbar-brand {
    display: none !important;
  }
}
.tile {
  text-align: center;
}
.tile p {
  max-width: 60%;
  margin-left: 20%;
}
.center {
  text-align: center;
}
.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
